input[type="file" i]::-webkit-file-upload-button{
  background: #DC2626;
  margin-right: 12px;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  }
  
  input[type="file" i]{
    font-size: 12px;
    color: rgb(209 213 219);
    cursor: pointer;
  }