body{
    background-color: #28282B;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
#posttitle{
    transition: 0.3s font-size;
}
#posttitle:hover{
    font-size: 1.5rem;
}
#badgecount{
    transition: 0.3s font-size;
}
#badgecount:hover{
    font-size: 1rem;
}